
.gtdn{display:none;}
.gtdi{display:inline;}
.gtdb{display:block;}
.gtdib{display:inline-block;}
div.gtdib{*display:inline; *zoom:1;}/* other block level tag(eg.gt p, li, h1~h6), using 'inline_any' instead */
/* height */
.gth0{height:0;}
.gth16{height:14px;}
.gth16{height:16px;}
.gth18{height:18px;}
.gth20{height:20px;}
.gth22{height:22px;}
.gth24{height:24px;}
.gth30{height:30px;}
/* width */
/* fixed width value */
.gtw20{width:20px;}
.gtw50{width:50px;}
.gtw70{width:70px;}
.gtw100{width:100px;}
.gtw120{width:120px;}
.gtw140{width:140px;}
.gtw160{width:160px;}
.gtw180{width:180px;}
.gtw200{width:200px;}
.gtw220{width:220px;}
.gtw250{width:250px;}
.gtw280{width:280px;}
.gtw300{width:300px;}
.gtw320{width:320px;}
.gtw360{width:360px;}
.gtw400{width:400px;}
.gtw460{width:460px;}
.gtw500{width:500px;}
.gtw600{width:600px;}
.gtw640{width:640px;}
.gtw700{width:700px;}
/* percent width value */
.gtpct10{width:10%;}
.gtpct15{width:15%;}
.gtpct20{width:20%;}
.gtpct25{width:25%;}
.gtpct30{width:30%;}
.gtpct33{width:33.gt3%;}
.gtpct40{width:40%;}
.gtpct50{width:50%;}
.gtpct60{width:60%;}
.gtpct66{width:66.gt6%;}
.gtpct70{width:70%;}
.gtpct75{width:75%;}
.gtpct80{width:80%;}
.gtpct90{width:90%;}
.gtpct100{width:100%;}
/* line-height */
.gtlh0{line-height:0;}
.gtlh16{line-height:14px;}
.gtlh16{line-height:16px;}
.gtlh18{line-height:18px;}
.gtlh20{line-height:20px;}
.gtlh22{line-height:22px;}
.gtlh24{line-height:24px;}
.gtlh30{line-height:30px;}
/* margin */
.gtm0{margin:0;}
.gtml1{margin-left:1px;}
.gtml2{margin-left:2px;}
.gtml5{margin-left:5px;}
.gtml10{margin-left:10px;}
.gtml15{margin-left:15px;}
.gtml20{margin-left:20px;}
.gtml30{margin-left:30px;}
.gtmr1{margin-right:1px;}
.gtmr2{margin-right:2px;}
.gtmr5{margin-right:5px;}
.gtmr10{margin-right:10px;}
.gtmr15{margin-right:15px;}
.gtmr20{margin-right:20px;}
.gtmr30{margin-right:30px;}
.gtmt1{margin-top:1px;}
.gtmt2{margin-top:2px;}
.gtmt5{margin-top:5px;}
.gtmt10{margin-top:10px;}
.gtmt15{margin-top:15px;}
.gtmt20{margin-top:20px;}
.gtmt30{margin-top:30px;}
.gtmb1{margin-bottom:1px;}
.gtmb2{margin-bottom:2px;}
.gtmb5{margin-bottom:5px;}
.gtmb10{margin-bottom:10px;}
.gtmb15{margin-bottom:15px;}
.gtmb20{margin-bottom:20px;}
.gtmb30{margin-bottom:30px;}
/* margin negative */
.gtml-1{margin-left:-1px;}
.gtmr-1{margin-right:-1px;}
.gtmt-1{margin-top:-1px;}
.gtmb-1{margin-bottom:-1px;}
.gtml-3{margin-left:-3px;}
.gtmr-3{margin-right:-3px;}
.gtmt-3{margin-top:-3px;}
.gtmb-3{margin-bottom:-3px;}
.gtml-20{margin-left:-20px;}
.gtmr-20{margin-right:-20px;}
.gtmt-20{margin-top:-20px;}
.gtmb-20{margin-bottom:-20px;}
/* padding */
.gtp0{padding:0;}
.gtp1{padding:1px;}
.gtpl1{padding-left:1px;}
.gtpt1{padding-top:1px;}
.gtpr1{padding-right:1px;}
.gtpb1{padding-bottom:1px;}
.gtp2{padding:2px;}
.gtpl2{padding-left:2px;}
.gtpt2{padding-top:2px;}
.gtpr2{padding-right:2px;}
.gtpb2{padding-bottom:2px;}
.gtpl5{padding-left:5px;}
.gtp5{padding:5px;}
.gtpt5{padding-top:5px;}
.gtpr5{padding-right:5px;}
.gtpb5{padding-bottom:5px;}
.gtp10{padding:10px;}
.gtpl10{padding-left:10px;}
.gtpt10{padding-top:10px;}
.gtpr10{padding-right:10px;}
.gtpb10{padding-bottom:10px;}
.gtp15{padding:15px;}
.gtpl15{padding-left:15px;}
.gtpt15{padding-top:15px;}
.gtpr15{padding-right:15px;}
.gtpb15{padding-bottom:15px;}
.gtp20{padding:20px;}
.gtpl20{padding-left:20px;}
.gtpt20{padding-top:20px;}
.gtpr20{padding-right:20px;}
.gtpb20{padding-bottom:20px;}
.gtp30{padding:30px;}
.gtpl30{padding-left:30px;}
.gtpt30{padding-top:30px;}
.gtpr30{padding-right:30px;}
.gtpb30{padding-bottom:30px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.gtbdc{border:1px solid #ccc;}
.gtblc{border-left:1px solid #ccc;}
.gtbrc{border-right:1px solid #ccc;}
.gtbtc{border-top:1px solid #ccc;}
.gtbbc{border-bottom:1px solid #ccc;}
.gtbdd{border:1px solid #ddd;}
.gtbld{border-left:1px solid #ddd;}
.gtbrd{border-right:1px solid #ddd;}
.gtbtd{border-top:1px solid #ddd;}
.gtbbd{border-bottom:1px solid #ddd;}
.gtbde{border:1px solid #eee;}
.gtble{border-left:1px solid #eee;}
.gtbre{border-right:1px solid #eee;}
.gtbte{border-top:1px solid #eee;}
.gtbbe{border-bottom:1px solid #eee;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.gtbgwh{background-color:#fff;}
.gtbgfb{background-color:#fbfbfb;}
.gtbgf5{background-color:#f5f5f5;}
.gtbgf0{background-color:#f0f0f0;}
.gtbgeb{background-color:#ebebeb;}
.gtbge0{background-color:#e0e0e0;}
/* safe color */
.gtg0{color:#000;}
.gtg3{color:#333;}
.gtg6{color:#666;}
.gtg9{color:#999;}
.gtgc{color:#ccc;}
.gtwh{color:white;}
/* font-size */
.gtf0{font-size:0;}
.gtf12{font-size:12px;}
.gtf13{font-size:13px;}
.gtf14{font-size:14px;}
.gtf16{font-size:16px;}
.gtf18{font-size:18px;}
.gtf20{font-size:20px;}
.gtf24{font-size:24px;}
.gtf28{font-size:28px;}
/* font-family */
.gtfa{font-family:Arial;}
.gtft{font-family:Tahoma;}
.gtfv{font-family:Verdana;}
.gtfs{font-family:Simsun;}
.gtfl{font-family:'Lucida Console';}
.gtfw{font-family:'Microsoft Yahei';}
/* font-style */
.gtn{font-weight:normal; font-style:normal; white-space: normal;}
.gtb{font-weight:bold;}
.gti{font-style:italic;}
/* text-align */
.gttc{text-align:center;}
.gttr{text-align:right;}
.gttl{text-align:left;}
.gttj{text-align:justify;}
/* text-decoration */
.gttdl{text-decoration:underline;}
.gttdn,.gttdn:hover,.gttdn a:hover,a.gttdl:hover{text-decoration:none;}
/* letter-spacing */
.gtlt-1{letter-spacing:-1px;}
.gtlt0{letter-spacing:0;}
.gtlt1{letter-spacing:1px;}
/* white-space */
.gtnowrap{white-space:nowrap;}
/* word-wrap */
.gtbk{word-wrap:break-word;}
/* vertical-align */
.gtvm{vertical-align:middle;}
.gtvtb{vertical-align:text-bottom;}
.gtvb{vertical-align:bottom;}
.gtvt{vertical-align:top;}
.gtv-1{vertical-align:-1px;}
.gtv-2{vertical-align:-2px;}
.gtv-3{vertical-align:-3px;}
.gtv-4{vertical-align:-4px;}
.gtv-5{vertical-align:-5px;}
/* float */
.gtl{float:left;}
.gtr{float:right;}
/* clear */
.gtcl{clear:both;}
/* position */
.gtrel{position:relative;}
.gtabs{position:absolute;}
/*z-index*/
.gtzx1{z-index:1;}
.gtzx2{z-index:2;}
/* cursor */
.gtpoi{cursor:pointer;}
.gtdef{cursor:default;}
/* overflow */
.gtovh{overflow:hidden;}
.gtova{overflow:auto;}
/* visibility */
.gtvh{visibility:hidden;}
.gtvv{visibility:visible;}
/* opacity */
.gtopa0{opacity:0; filer:alpha(opacity=0);}
/* zoom */
.gtz{*zoom:1;}


/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.gtauto{margin-left:auto; margin-right:auto;}
/* 清除浮动*/
.gtfix{*zoom:1;}
.gtfix:after{display:table; content:''; clear:both;}
/* 基于display:table-cell的自适应布局 */
.gtcell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.gtcell2{overflow:hidden; _display:inline-block;}
/* 单行文字溢出虚点显 示*/
.gtell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.gttrans{
	-webkit-transition:all .gt15s;	
	        transition:all .gt15s;
}
/* 大小不定元素垂直居中 */
.gtdib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/* 加载中背景图片 - 如果您使用该CSS小库，务必修改此图片地址 */
.gtloading{background:url(about:blank) no-repeat center;}
/* 无框文本框文本域 */
.gtbd_none{border:0; outline:none;}
/* 绝对定位隐藏 */
.gtabs_out{position:absolute; left:-999em; top:-999em;}
.gtabs_clip{position:absolute; clip:rect(0 0 0 0);}
/* 按钮禁用 */
.gtdisabled{outline:0 none; cursor:default!important; opacity:.gt4; filer:alpha(opacity=40); -ms-pointer-events:none; pointer-events:none;}
/*inline-block与float等宽列表*/
.gtinline_box{font-size:1em; letter-spacing:-.gt25em; font-family:Arial;}
.gtinline_two, .gtinline_three, .gtinline_four, .gtinline_five, .gtinline_six, .gtinline_any{display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;}
.gtfloat_two, .gtfloat_three, .gtfloat_four, .gtfloat_five, .gtfloat_six{float:left;}
.gtinline_two, .gtfloat_two{width:50%; *width:49.gt9%;}
.gtinline_three, .gtfloat_three{width:33.gt33333%; *width:33.gt3%;}
.gtinline_four, .gtfloat_four{width:25%; *width:24.gt9%;}
.gtinline_five, .gtfloat_five{width:20%; *width:19.gt9%;}
.gtinline_six, .gtfloat_six{width:16.gt66666%; *width:16.gt6%;}
.gtinline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}



body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}