<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<div class="header">
    <img src="../static/images/pic-02.png"/>
</div>
<div id="navContainer">
    <div class="nav">
        <ul>
            <li>
                <a class="menuContent" href="/">
                    首页
                </a>

            </li>
            <li>
                <a class="menuContent" href="/studies">
                    学无止境
                </a>
            </li>
            <li>
                <a class="menuContent" href="/skatings">
                    轮滑
                </a>

            </li>
            <li>
                <a class="menuContent" href="/foots">
                    足迹
                </a>
            </li>
            <li>
                <a class="menuContent" href="#">
                    聊天室
                </a>

            </li>
            <li>
                <a class="menuContent" href="/words">
                    留言
                </a>
            </li>
            <li class="display">
                <a class="menuContent" href="/toManageBlog">
                    管理博客
                </a>
            </li>
            <li  class="display">
                <a class="menuContent" href="/toWriteBlog">
                    写博客
                </a>
            </li>
        </ul>
    </div>
</div>